#root {
    display: grid;
    height: 100%;
    grid-template-rows: 100px minmax(0, 1fr);
    grid-template-columns: 300px minmax(0, 1fr) 300px;
    grid-template-areas: 
        "top top top"
        "left center right";
}

#top {
    grid-area: top;
}

#left {
    grid-area: left;
}

#center {
    grid-area: center;
}

#right {
    grid-area: right;
}

.panel-container {
    padding: 1rem;
    border: solid 1px #000000;
    display: flex;
    gap: 1rem;
}

.panel-container.vertical {
    flex-direction: column;
}

.panel-container.horizontal {
    flex-direction: row;
}


.list-item {
    display: flex;
    width: 100%;
    padding: 0.5rem;
    border: solid 1px #000000;
    cursor: pointer;
}

.list-item.active {
    border-color: #FF0000;
}

.list-item .label {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-item .delete-button {
    flex-basis: 0 0 auto;
}


.platforms-panel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
    min-height: 0;
}

.platforms-panel .list-items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
    overflow: auto;
}


.entities-panel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
    min-height: 0;
}

.entities-panel .list-items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
    overflow: auto;
}


.map-view-panel {
    padding: 1rem;
    height: 100%;
}

.map-view-panel.pointer {
    cursor: pointer;
}

.map-view-panel canvas {
    border: solid 1px #000000;
}


.mouse-position-overlay {
    display: block;
    height: 100%;
    position: relative;
}

.mouse-position-overlay .wrapper {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.mouse-position-overlay::after {
    content: attr(data-mouse-x) ", " attr(data-mouse-y);
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    color: #777777;
    pointer-events: none;
}

.details-panel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.details-panel .details {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 1rem;
}

.details-panel .subtitle {
    color: #555555;
    font-size: 0.8rem;
    font-family: monospace;
    margin: 0;
    font-weight: bold;
}

.details-input {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 3;
    flex: 1 1 auto;
}

.details-input.left {
    grid-column-start: 1;
    grid-column-end: 2;
}

.details-input.right {
    grid-column-start: 2;
    grid-column-end: 3;
}